In [22]:
import numpy as np 
import warnings
from tabulate import tabulate
warnings.filterwarnings("ignore", category = np.VisibleDeprecationWarning) 
allDB = {}

In [21]:
readDB = np.genfromtxt("myfile.csv", dtype = None, delimiter = '|', names=True, autostrip=True)
allDB["R"] = readDB
readDB.dtype.names

('id', 'name', 'age')

In [25]:
headers = readDB.dtype.names
print(tabulate(readDB, headers, tablefmt="grid"))

+------+--------+-------+
|   id | name   |   age |
+======+========+=======+
|    1 | vidit  |    24 |
+------+--------+-------+
|    2 | daksh  |    23 |
+------+--------+-------+
|    3 | jude   |    27 |
+------+--------+-------+
|    4 | xyz    |    55 |
+------+--------+-------+
|    5 | xyz    |    30 |
+------+--------+-------+

In [14]:
column = "age"
col = allDB["R"][column] 
mean = np.mean(col)
print(mean)
print("The Mean for the column " + column + " is " + str(mean))

31.8
The Mean for the column age is 31.8

In [15]:
column = "age"
col = allDB["R"][column] 
maxRow = np.max(col)
print(maxRow)
print("The Maximum value of the column " + column + " is " + str(maxRow))

55
The Maximum value of the column age is 55

In [16]:
column = "age"
col = allDB["R"][column] 
rowSum = np.sum(col)
print(rowSum)
print("The sum of the column " + column + " is " + str(rowSum))

159
The sum of the column age is 159

In [17]:
column=["name","age"]
sortedCollection = np.sort(allDB["R"], order=column)
sortedCollection

array([(2, b'daksh', 23), (3, b'jude', 27), (1, b'vidit', 24),
       (5, b'xyz', 30), (4, b'xyz', 55)],
      dtype=[('id', '<i8'), ('name', 'S5'), ('age', '<i8')])